@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../node_modules/bootstrap-icons/font/bootstrap-icons.css");
.box{
    border: 1px solid;
    padding: 5px;
    margin: 5px;

}

.main{
    align-items:center;
}