@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../node_modules/bootstrap-icons/font/bootstrap-icons.css");
.box{
    border: 1px solid;
    padding: 5px;
    margin: 5px;

}

.main{
    text-align: center;

    background-image:image-set("https://img.freepik.com/free-photo/beautiful-scenery-summit-mount-everest-covered-with-snow-white-clouds_181624-21317.jpg?size=626&ext=jpg&ga=GA1.1.2126216559.1699334969&semt=sph");
}
.addp{
    background-image:image-set("https://img.freepik.com/free-photo/beautiful-scenery-summit-mount-everest-covered-with-snow-white-clouds_181624-21317.jpg?size=626&ext=jpg&ga=GA1.1.2126216559.1699334969&semt=sph");

}
.editp{
    background-image: image-set("https://wallpaperaccess.com/full/2314983.jpg");
}
.products{
    background-image: image-set("https://png.pngtree.com/background/20220729/original/pngtree-abstract-background-white-and-light-gray-silver-style-modern-technology-geometric-picture-image_1859880.jpg");

}
